{% if dns_domain is defined and dns_domain | length > 0 %}
search {{ dns_domain|join(' ') }}
domain {{ dns_domain|join(' ') }}
{% endif %}
{% for ns in dns_nameserver %}
nameserver {{ ns }}
{% endfor %}